body {
    background-image: url('patterns/sakura.gif'); /* via http://www.dinpattern.com/*/
    background-attachment: fixed;
}

.container {
    background-color: white;
    box-shadow: 1px 14px 18px 3px black;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Barrio';
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 30px;
    color: gray;
}

h4 {
    font-size: 20px;
    font-family: 'Manuale', serif;
    font-weight: bold;
}

label {
    font-size: 20px;
    color: gray;
}

p, div {
    font-family: 'Manuale', serif;
    font-size: 16px;
}

a {
    color: #ff5733;
    text-shadow: 0.5px 0 #ddd, -0.5px 0 #ddd, 0 0.5px #ddd, 0 -0.5px #ddd;
}

a:hover {
    color: #c70039;
    text-decoration: none;
}

a:active, a:focus {
    color: #dd4445;
    text-decoration: none;
}

.secondary {
    color: gray;
}
a#logout-link {
    font-size: 18px;
    font-weight: bold;
}

em#logout {
    font-style: normal;
    font-weight: normal;
}

.text-right {
    margin-left: -30px;
}

#edit-link {
    display: inline-block;
    margin-left: 6px;
}

.text-right {
    font-weight: bold;
}

.sidebar, .even-entry {
    background-image: url('patterns/ignasi_pattern_s.png'); /* via http://www.subtlepatterns.com */
}

.new-entry {
    font-size: 20px;
    font-weight: bold;
}

/* multiline text ellipses, courtesy the example at: */
/* http://codepen.io/Merri/pen/Dsuim */
/*               START, multiline ellipses :::     */
/* `height` in our fallback is: line-height * number of lines * font-size */
.line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    line-height: 1.4;
}

.sidebar-body {
    -webkit-line-clamp: 3;
    height: 67.2px;             /* fallback for non-webkit */
}

.sidebar-topics {
    -webkit-line-clamp: 2;
    height: 44.8px;             /* fallback for non-webkit */
}

.listing-body {
    -webkit-line-clamp: 4;
    height: 89.6px;             /* fallback for non-webkit */
}
/*                 END: multiline ellipses          */

.entry-listing {
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid white;
    padding: 20px;
}

.sidebar-entry, sidebar-heading {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar-entry:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

.entry-listing:hover {
    border: 3px solid #ffc300;
}

.tags-bar {
    background:
    linear-gradient(
            rgba(190, 40, 255, 0.10),
            rgba(0, 190, 255, 0.15)
        ),
    url('patterns/sayagata-400px.png'); /* via http://www.subtlepatterns.com */
}

.tags-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
    background-color: #c70039;
    border-color: #900c3f;
}

.btn-primary:hover {
    background-color: #581845;
    border-color: #dd0011;
}

.btn:active, .btn:focus {
    background-color: #ff55ff !important;
    border-color: #900c3f !important;
}

/* Extra Small Devices, Phones */ 
@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .tags-bar {
        width: 100%;
        padding: 30px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1001px) {
    .tags-bar {
        padding-top: 150px;
    }
    .row-eq-height {
        /* from: http://getbootstrap.com.vn/examples/equal-height-columns/ */
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}