html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/wild-sea.png'); /* via http://www.dinpattern.com/*/
    background-attachment: fixed;
    min-height: 100%;
    height: 100%;
}

.container {
    background-color: white;
    box-shadow: 1px 14px 18px 3px black;
}

:hover {
    transition: all 0.2s linear;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 30px;
    color: gray;
}

h4 {
    font-family: 'Quicksand', san-serif;
    font-size: 20px;
    font-weight: bold;
}

label {
    color: gray;
    font-size: 20px;
}

.header-div {
    margin-bottom: 20px;
}

p, div {
    font-family: 'Manuale', serif;
    font-size: 16px;
    color: #333;
}

a, button {
    font-family: 'Quicksand', san-serif;
}

a {
    color: #ff5733;
    font-family: 'Quicksand', san-serif;
    text-shadow: 0.5px 0 #ddd, -0.5px 0 #ddd, 0 0.5px #ddd, 0 -0.5px #ddd;
}

a:hover {
    color: #c70039;
    text-decoration: none;
}

a:active, a:focus {
    color: #dd4445;
    text-decoration: none;
}

input:focus,
textarea:focus {
    border-color: rgba(144, 12, 63, 0.3) !important;
    box-shadow: inset 0 1px 1px rgba(50, 50, 50, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.secondary {
    color: gray;
}

.logo {
    color: #777;
    cursor: default;
    user-select: none;
}

.logo a {
    color: #777;
    font-family: 'Manuale', serif;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
}

.portfolio-link {
    color: #333;
    font-family: 'Manuale', serif;
    font-weight: bold;
}

a.logout-link {
    font-size: 18px;
    font-weight: bold;
}

em#logout {
    font-style: normal;
    font-weight: normal;
}

.text-right {
    margin: 12px 0 10px -30px;
}

#edit-link {
    display: inline-block;
    margin-left: 14px;
}

.text-right {
    font-weight: bold;
}

.sidebar, .even-entry {
    background-image: url('images/ignasi_pattern_s.png'); /* via http://www.subtlepatterns.com */
}

.new-entry {
    font-size: 30px;
}

/* multiline text ellipses, courtesy the example at: */
/* http://codepen.io/Merri/pen/Dsuim */
/*               START, multiline ellipses :::     */
/* `height` in our fallback is: line-height * number of lines * font-size */
.line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    line-height: 1.4;
}

.sidebar-body {
    -webkit-line-clamp: 3;
    height: 67.2px;             /* fallback for non-webkit */
}

.sidebar-topics {
    -webkit-line-clamp: 2;
    height: 44.8px;             /* fallback for non-webkit */
}

.listing-body {
    -webkit-line-clamp: 4;
    height: 89.6px;             /* fallback for non-webkit */
}
/*                 END: multiline ellipses          */

.entries-list {
    margin-top: -2px;
}

.entry-listing {
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid white;
    padding: 20px;
}

.sidebar-entry, sidebar-heading {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar-entry:hover {
    background-color: rgba(100, 100, 100, 0.1);
}

.entry-listing:hover {
    border: 3px solid #ffc300;
}

.tags-bar {
    background: linear-gradient(
                        rgba(255, 200, 100, 0.4),
                        /* rgba(240, 240, 30, 0.4), */
                        rgba(255, 100, 0, 0.2)
                    ), url('images/sayagata-400px.png'); /* via http://www.subtlepatterns.com */
}

.tags-title {
    font-size: 18px;
    margin-bottom: 40px;
}

.views-div {
    /* margin-top: 60px; */
    margin: 60px 0 50px 0;
}

.btn-primary {
    margin: 10px 3px auto auto;
    background-color: #c70039;
    border-color: #900c3f;
}

.btn-primary:hover {
    background-color: #ff3300;
    border-color: #dd0011;
}

.btn:active, .btn:focus {
    background-color: #ff5500 !important;
    border-color: #900c3f !important;
}

.not-logged-in {
    position: fixed; /* Stay in place */
    left: 0;
    top: -20px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
    color: #eec;
    font-size: 70px;
    height: 110%;
    overflow: auto;
    padding-top: 140px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.not-logged-in:hover {
    color: #eec;
}

/* Extra Small Devices, Phones */ 
@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
    .tags-bar {
        width: 100%;
        padding: 30px;
    }
    .tags-title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    .views-a {
        display: inline-block;
        margin-right: 30px;
    }
    .views-div {
        margin-top: 30px;
    }
    .invisible-in-mobile {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    a.logout-link {
        position: absolute;
        font-size: 14px;
        right: 13px;
        z-index: 1;
    }
}


@media screen and (max-width: 580px) {
    .btn-lg {
        width: 100%;
    }
}

@media screen and (min-width: 1001px) {
    .visible-in-mobile-only {
        display: none;
    }
    .tags-bar {
        padding-top: 150px;
    }
    .row-eq-height {
        /* from: http://getbootstrap.com.vn/examples/equal-height-columns/ */
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
